<!DOCTYPE html>
<html>
  <head>
    <title>MusicAlbum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm horizontal-padding">
        <div>
        <%= link_to "Home", root_path, class: "btn btn-secondary" %>
        <% if current_user.present? %>
          <%= link_to "Music Album", albums_path, class: "btn btn-secondary" %>
          <%= link_to "Artists", artists_path, class: "btn btn-secondary" %>
        <% end %>
        </div>    
        <div class="button">
        <% if current_user.present? %>
            <%= link_to "Sign out", logout_path, method: :delete, class: "btn btn-secondary" %> 
        <% end %>    
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
